<div align="center">
  <%= will_paginate %>
  <% @categories.each do |category| %>
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2">
        <div class="well well-lg">
          <div class="category-name">
            <h4> <%= link_to "#{category.name}", category_path(category) %> </h4>
            <li><small><%= pluralize(category.articles.count, "article") %></small></li>	
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>