<div align="center">
  <%= will_paginate %>
  <% @categories.each do |category| %>
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2">
        <div class="well well-lg">
          <div class="category-name">
            <h4> <%= category.name %> </h4>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>